body {
    text-align: center;
    margin: 0;
}

header {
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px;
}

a {
    text-decoration: none;
    margin: 0 20px;
}

h1, h2, h4 {
    text-transform: uppercase; 
}

main {
    width: 850px;
}

h1 {
    font-family: Raleway;
    color: #000000 od 2c 40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

h2 {
    font-family: Raleway;
    color: #0d2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

nav {
   font-family: Raleway;
   color: #f15b31;
   letter-spacing: 1px;
   font-weight: 600;
   font-size: 18px;
   background-color: #00a6b3;
   
}

